[submodule "externals/src/python/AerospacePropellantThermodynamics"]
	path = externals/src/python/AerospacePropellantThermodynamics
	url = https://github.com/baryon-asymm/AerospacePropellantThermodynamics.git
